.post {
  background: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;
  padding: 2.5rem;
}

.post + .post {
  margin-top: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
}

.author {
  display: flex;
  gap: 1rem;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.authorInfo strong {
  padding-top: 0.5rem;
  color: var(--gray-100);
  line-height: 1.6;
}

.authorInfo span {
  font-size: 0.875rem;
  color: var(--gray-400);
  line-height: 1.6;
}
.postTime {
  font-size: 0.875rem;
  color: var(--gray-400);
  line-height: 1.6;
}

.content {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.content > p {
  color: var(--gray-300);
  font-weight: 400;
  line-height: 1.6;
}

.hash {
  display: flex;
  gap: 0.5rem;
}

.hash a,
.contact a {
  text-decoration: none;
  color: var(--green-500);

  font-weight: 400;
  line-height: 1.6;

  transition: color 0.1s;
}

.hash a:hover,
.contact a:hover {
  color: var(--green-300);
}

.commentForm {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-600);
}

.commentForm > strong {
  line-height: 1.6;
  color: var(--gray-100);
}

.commentForm textarea {
  width: 100%;
  background: var(--gray-900);
  border: 0;
  resize: none;
  height: 6rem;
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-100);
  line-height: 1.4;
  margin-top: 1rem;
}

.commentForm footer {
  visibility: hidden;
  max-height: 0;
}
.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}

.commentForm button[type='submit'] {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  background: var(--green-500);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s;
  box-shadow: none;
}

.commentForm button[type='submit']:not(:disabled):hover {
  background: var(--green-300);
}

.commentForm button[type='submit']:disabled {
  background: var(--gray-600);
  color: var(--gray-700);
  cursor: not-allowed;
}

.commnetList {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
