.header {
  background: var(--gray-800);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem 0;
}

.header strong {
  font-size: 1.675rem;
  font-weight: 700;
}

.header img {
  height: 2rem;
}
